# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/**/gradle-wrapper.jar

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
*.iml

# macOS
.DS_Store